<%-include('header') %>
    <% if(locals.items==undefined) {%>
        <p>do you want to delete the '<%= category.name %>' category?</p>
        <form method="post">
            <input type="hidden" value="<%=category.id %>" name='categoryid'>
            <button>delete</button>
        </form>
        <% } else{%>
            please delete the following items first:
            <ul>
                <% for (const item of items) {%>
                    <li>
                        <a href="<%=item.url%>">
                            <%=item.name%>
                        </a> , <%=item.description%>
                    </li>
                    <% } %>
            </ul>
            <% } %>
                <%-include('footer') %>