<%-include('header')%>
    <h2>
         <%=category.name%>
    </h2>
      <p>
          <%=category.description%>
      </p>
        
    <div>Items in this category:</div>
    <ul class="display-list">
        <% for (const item of items) {%>
            <li class="display-list-item">
                <a href="<%=item.url%>">
                    <%=item.name%>
                </a>
                <div>Description: <%=item.description%></div>
                
            </li>
            <% } %>
    </ul>
    <div class="update-button button"><a href=<%=category.url+'/update'%>> Update</a> </div>

    <div class="delete-button button"><a href=<%=category.url+'/delete'%>> Delete</a></div>

    <%-include('footer')%>