<%-include('header') %>
    <% if(locals.items==undefined) {%>
        <p>Do you want to delete the '<%= category.name %>' category?</p>
        <form method="post">
            <input type="hidden" value="<%=category.id %>" name='categoryid'>
            <button class="delete-button button">Delete</button>
        </form>
        <% } else{%>
           <p>Please delete the following items first:</p> 
            <ul class="display-list">
                <% for (const item of items) {%>
                    <li class="display-list-item">
                        <a href="<%=item.url%>">
                            <%=item.name%>
                        </a>
                        
                    </li>
                    <% } %>
            </ul>
            <% } %>
                <%-include('footer') %>