<%-include('header')%>
    <div class="category-name">
        Category: <%=category.name%>
            description: <%=category.description%>
    </div>
    <p>here's a list of items this category has:</p>
    <ul>
        <% for (const item of items) {%>
            <li>
                <a href="<%=item.url%>">
                    <%=item.name%>
                </a> , <%=item.description%>
            </li>
            <% } %>
    </ul>
    <div><a href=<%=category.url+'/update'%>> Update</a> </div>

    <div><a href=<%=category.url+'/delete'%>> Delete</a></div>

    <%-include('footer')%>