<%-include('header')%>
    <p>Category List:</p>
    <ul>
        <% for (const category of categories) {%>
            <li>
             <a href="<%=category.url%>"><%=category.name%></a>   ,  <%=category.count%>, <%=category.description%>
            </li>
            <% } %>

    </ul>
    <%-include('footer')%>