<%-include('header')%>
    <ul class="display-list">
        <% for (const category of categories) {%>
            <li>
                <a href="<%=category.url%>">
                    <%=category.name%>
                </a>
                <ul>
                    <li>Description: <%=category.description %> </li>
                    <li>Count: <%=category.count %> </li>
                </ul>
            </li>
            <% } %>

    </ul>
    <%-include('footer')%>