<%-include('header')%>
        <h2 class="index-heading">Welcome to Foo Groceries </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam sunt, incidunt exercitationem natus obcaecati culpa. Corporis aut eius alias.</p>
        <p>Here are some statistics about the Store</p>
        <ul class="index-list">
                <li>Total Categories: <%=categoriesCount%>
                </li>
                <li>Total Item: <%=itemsCount%>
                </li>
                <li>Items Available: <%=itemsAvailableCount%>
                </li>

        </ul>
        <%-include('footer')%>