<%-include('header')%>
    <% if(locals.item==null){ item={name:'',description:'',price:'',checked:false} } %>

        <form method="post" class="form">
            <label for="item_name">Name:</label>
            <input id="item_name" type="text"  required value="<%=item.name%>" name="item_name" minlength="2">
            <label for="item_description">Description</label>
            <input id="item_description" required type="text" value="<%=item.description%>" name="item_description">
            <label for="item_price">Price:</label>
            <input id="item_price"  required type="number" value="<%=item.price %>" name="item_price">
            <div class="radio-buttons">
                <label for="item_instock_true">True</label>
                <input id="item_instock_true" type="radio" value="true" name="item_instock" <%=item.inStock?'checked':''
                    %>
                >
                <label for="item_instock_false">False</label>
                <input id="item_instock_false" type="radio" value="false" name="item_instock"
                    <%=item.inStock?'':'checked' %>>
            </div>
            <select name="item_category" class="form-select">
                <% for(const category of categories){ %>
                    <option value="<%=category.id %>" <%= item.category?.id==category.id?'selected':'' %>  >
                        <%=category.name %>
                    </option>
                    <% } %>
            </select>
            <button class="submit-button button">Submit</button>
        </form>
        <ul class="errors">
            <% for(const err of errors) {%>
                <li>
                    <%=err.msg %>
                </li>
                <% } %>
        </ul>
        <%-include('footer')%>