<%-include('header')%>
    <h2>
         <%=item.name%>
    </h2>
      <p>
          <%=item.description%>
      </p>
        <ul class="display-list">
            <li class="display-list-item">Price: <%=item.price %> </li>
            <li class="display-list-item">In Stock: <%=item.inStock %> </li>
            <li class="display-list-item"> Category: <a href="<%=item.category.url %> "><%=item.category.name %> </a></li>
        </ul>
    
    <div ><a class="update-button button" href=<%=item.url+'/update'%>> Update</a> </div>

    <div ><a class="delete-button button" href=<%=item.url+'/delete'%>> Delete</a></div>

    <%-include('footer')%>